	
	body /* Background Style */
		
		{
			background-color: #F7B32B; /* ORANGE */
		}
	.fluidh {
		   opacity: 1;
			display: block;
			width: 100%;
			height: auto;
			transition: .5s ease;
			backface-visibility: hidden;
	}

	.fluidh:hover
	{
	opacity: 0.3;
	}
	
	/*.py-3
	{
		background:#F72C25;
	}*/

	a 	/* Link style */
		{
			color:#F72C25; /* RED */
			
		}
	a:hover 
	{
		color:#5E2BFF;
		opacity: 1;
	}
		
	.big-h1 /* Header style */
		{
			font-family: Arial, Helvetica, sans-serif;
			color:#F72C25; /* RED */
			font-size:350%
		}
		
	p /* Paragraph style */
	
		{
			color:#2D1E2F; /* PURPLE */
			font-family: Arial, Helvetica, sans-serif;
			font-size:150%
		}
		
	h2
	{
		color:#2D1E2F; /* PURPLE */
		font-family: Arial, Helvetica, sans-serif;
	}
	
	
	
	ul
	{
		font-family: Arial, Helvetica, sans-serif;
		color:#2D1E2F; /* PURPLE */
		font-size:150%
	}
		
		

	
	.picdiv
		{
			margin:auto;
		}
	.btn 
	{
		background-color: white;
		color: purple;
		border: 2px  #5E2BFF;
		padding: 15px;
		text-decoration: none;
		font-size: 16px;
		margin: 4px 1px;
		cursor: pointer;
	}
	
	.btn:hover 
	{
		color:#5E2BFF;
	}
	
	.caprasimo-regular {
	font-family: "Caprasimo", serif;
	font-weight: 400;
	font-style: normal;
	}

		

